<div class="masonry">
    <div class="grid" *ngFor="let image of images; let i=index">
        <div class="box">
            <img src="{{ image.imageUrl }}" (click)="open(image)">
            <div class="box-content">
                <h3 class="title">{{image.titre}}</h3>
                <span class="post">{{image.projetName}}</span>
            </div>
        </div>
        <!-- <button [routerLink]="['/../projet', image.idProjet]"><i class="material-icons">label_important</i></button> -->
    </div>
</div>
