@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap');
* {
    box-sizing: border-box;
}

.splatter {
    // background-image: url(../../../assets/whitesplatter.png);
    background-color: #000000;
    z-index: 1;
}

.clients img {
    width: 100%;
    border-radius: 50%;
}

.clients img:hover {
    transform: rotate(1080deg);
    border-radius: 50%;
    transition: all 2s;
    /* transition when the mouse over */
}

h3 {
    font-family: 'Big Shoulders Text', cursive;
    color: rgb(14 7 228 / 1);
    font-size: 5vh;
}

.jumbotron {
    background-color: #000000;
    margin: 0 auto;
    border-radius: 0;
    background-image: url(../../../assets/whitesplatter.png);
}

blockquote .svg-inline--fa {
    color: red;
    margin: 1rem;
}

blockquote {
    color: white;
    margin-top: 5%;
    font-size: 28px;
    font-family: 'Big Shoulders Text', cursive;
}

.fab {
    width: 11%;
}

.fa-facebook-square {
    color: blue;
}

.fa-instagram {
    color: red;
}

.clients-hr {
    border-top: .05rem solid blue;
}

footer {
    background-color: #000000;
    color: white;
    padding: 2rem 0 2rem;
}

footer img {
    height: 5rem;
    margin: 1.5rem 0;
}

footer a {
    color: white;
    font-family: 'Big Shoulders Text', cursive;
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
    color: #000000!important;
}

.row {
    justify-content: center;
    margin-top: 41px;
}

hr.socket {
    width: 100%;
    border-top: .2rem solid red;
    margin-top: 3rem;
}

.container {
    background-color: #000000;
}

.text-center span {
    font-family: 'Big Shoulders Text', cursive;
    color: white;
    font-size: 6vh;
}

label {
    color: white;
    font-family: 'Big Shoulders Text', cursive;
}

label span {
    color: red;
}

h4 {
    text-align: center;
    color: rgb(77, 218, 77);
}
