<body>

    <nav class="navbar navbar-dark navbar-expand-lg">
        <div claas="container">
            <a routerLink="home" routerLinkActive="active" class="navbar-brand"><img src="../../assets/logoblancdecoup.png"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a routerLink="mosaique" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">RandHome</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="realisation" routerLinkActive="active">Réalisation</a></li>
                <li class="nav-item"><a [routerLink]="['categorie', '2','graphisme']" class="nav-link" routerLinkActive="active">Graphisme</a></li>
                <li class="nav-item"><a [routerLink]="['categorie', '5','effetsVisuels']" class="nav-link" routerLinkActive="active">Effets Visuels</a></li>
                <li class="nav-item"><a [routerLink]="['categorie', '4','croquis']" class="nav-link" routerLinkActive="active">Croquis</a></li>
                <li class="valign-center">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">
                        <mat-icon>local_post_office</mat-icon>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</body>

<!-- <header>
    <div id="container1">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a routerLink="home" routerLinkActive="active" class="navbar-brand"><img src="../../assets/mark-orange-large.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto">

                    <li class="nav-item ">
                        <a routerLink="/mosaique" routerLinkActive="active" class="nav-link">RandHome</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['categorie', '1','DIRECTION']" routerLinkActive="active" class="nav-link" href="#">Direction</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['categorie', '2','GRAPHIC']" routerLinkActive="active" class="nav-link" href="#">Graphic</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['categorie', '5','VISUAL EFFECT']" routerLinkActive="active" class="nav-link" class="nav-link" href="#">Visual Effect</a>
                    </li>
                                       <li class="nav-item">
                        <a [routerLink]="['categorie', '4','SKETCHBOOK']" routerLinkActive="active" class="nav-link" class="nav-link" href="#">Sketchbook</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header> -->
<div [@routeAnimations]="o && o.activatedRouteData
&& o.activatedRouteData['animation']" class="rtanimation">
    <router-outlet #o="outlet"></router-outlet>
</div>
