<div class="page">
    <nav class="page__menu menu">
        <ul class="menu__list r-list">
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">RandHome</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Direction</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Graphisme</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Visual Effect</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Conception</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Sketchbook</a></li>
        </ul>
    </nav>
</div>

<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
      <i class="fas fa-bars"></i>
  </span>
    <a href="#" class="logo">logo</a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="#" class="nav-links">RandHome</a>
        </li>
        <li>
            <a href="#" class="nav-links">Direction</a>
        </li>
        <li>
            <a href="#" class="nav-links">Graphisme</a>
        </li>
        <li>
            <a href="#" class="nav-links">Visual Effect</a>
        </li>
        <li>
            <a href="#" class="nav-links">Conception</a>
            <li>
                <a href="#" class="nav-links">Sketchbook</a>
            </li>

    </ul>
</nav>

<script>
    let mainNav = document.getElementById('js-menu');
    let navBarToggle = document.getElementById('js-navbar-toggle');

    navBarToggle.addEventListener('click', function() {

        mainNav.classList.toggle('active');
    });
</script>
