<body>
    <section class="gallery-block cards-gallery">
        <h1>COLLABORATIONS</h1>
        <div class="container">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/partenaires/decat.png" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/partenaires/HP_logo_630x630.png" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/partenaires/france3.png" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/partenaires/francetv.png" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/partenaires/leroymerlinn.png" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/partenaires/tat.png" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/partenaires/wesco-logo-768x91.png" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/partenaires/virgin.png" class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/partenaires/Adeo_logo.png" class="card-img-top" alt="...">
            </div>
        </div>
    </section>
</body>
