<!-- <div class="row">
    <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12">
        <div class="card">
            <iframe class="rounded" type="text/html" src="https://player.vimeo.com/video/293402906?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player1" width="360" height="260" frameborder="0"></iframe>
        </div>
    </div>
    <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12">
        <div class="card card-inverse card-primary text-center">
            <iframe class="rounded" type="text/html" src="https://player.vimeo.com/video/293402906?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player1" width="360" height="260" frameborder="0"></iframe>
        </div>
    </div>
    <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12">
        <div class="card card-inverse card-primary text-center">
            <iframe class="rounded" type="text/html" src="https://player.vimeo.com/video/293402906?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player1" width="360" height="260" frameborder="0"></iframe>
        </div>
    </div>
    <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12">
        <div class="card card-inverse card-primary text-center">
            <iframe class="rounded" type="text/html" src="https://player.vimeo.com/video/293402906?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player1" width="360" height="260" frameborder="0"></iframe>
        </div>
    </div>

</div> -->

<ul id="hexGrid">
    <li class="hex" *ngFor="let image of images">
        <div class="hexIn">
            <a class="hexLink" (click)="open(image)">
                <img src="{{image.imageUrl}}" alt="{{image.titre}}" />
                <h1>{{image.titre}}</h1>
                <!-- <h1>{{image.hasVideo}}</h1> -->
                <p>Some sample text about the article this hexagon leads to</p>
            </a>
        </div>
    </li>
</ul>
