<!-- <li class="pusher"></li>
<li>
    <div *ngFor="let image of images">
        <img src="{{image.imageUrl}}">
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
</li>
<li>
    <div> -->


<ul id="hexGrid">
    <li class="hex" *ngFor="let image of images">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="{{image.imageUrl}}" alt="" />
                <h1>This is a title</h1>
                <p>Some sample text about the article this hexagon leads to</p>
            </a>
        </div>
    </li>
</ul>
