<div class="masonry">
    <h1>Projects</h1>
    <div class="grid" *ngFor="let image of imgCat">
        <div class="box">
            <img src="{{image.imageUrl}}" class="rounded" alt="" (click)="onClick(image.idProjet)">
            <div class="box-content">
                <h3 class="title">{{image.titre}}</h3>
            </div>
        </div>
    </div>
</div>

<div [@routeAnimations]="o && o.activatedRouteData
              && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
</div>
