header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.container1 {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding: 5px 0;
    position: fixed;
}

.navbar .navbar-expand-lg .navbar-light {
    display: flex;
}

.navbar-toggler {
    margin-top: -54px;
}

.navbar-brand img {
    margin-left: 6%;
    width: 16%;
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    padding: 5px 92px;
    font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #fff;
    border: 3px solid #909090;
    border-radius: 0;
    outline: none;
    margin-left: 82%;
    background-color: white;
}

.navabar-collapse {
    background: #fff;
}

.side-bar {
    width: 65px;
    height: 100vh;
    background: linear-gradient(#000, #3a3a3a);
    position: fixed;
    right: 0;
    top: 0;
}

.social-links img,
.useful-links img {
    width: 53px;
    margin: 13px auto;
    cursor: pointer;
}

.social-links {
    width: 67px;
    text-align: center;
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
}

.useful-links {
    width: 67px;
    text-align: center;
    position: absolute;
    bottom: 86px;
}

@media (max-width: 768px) {
    .side-bar {
        display: none;
    }
}
