<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layered Card Hover</title>
</head>

<div class="bodydy">
    <div class="box">
        <div class="card">
            <div class="imgBx">
                <img src="img src=../../../../assets/walpap.jpeg" alt="images">
            </div>
            <div class="details">
                <h2>SomeOne Famous<br><span>Director</span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="img src=../../../../assets/alpac.jpg" alt="images"></div>
            <div class="details">
                <h2>SomeOne Famous<br><span>Producer</span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="img src=../../../../assets/greenleaf.jpg" alt="images">
            </div>
            <div class="details">
                <h2>SomeOne Famous<br><span>Actor</span></h2>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="img src=../../../../assets/black4.jpg" alt="images">
            </div>
            <div class="details">
                <h2>SomeOne Famous<br><span>Director</span></h2>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="img src=../../../../assets/grace.jpg" alt="images">
            </div>
            <div class="details">
                <h2>SomeOne Famous<br><span>Director</span></h2>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="https://picsum.photos/300" alt="images">
            </div>
            <div class="details">
                <h2>SomeOne Famous<br><span>Director</span></h2>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="img src=../../../../assets/EVO/11_chambre_design.png" alt="images">
            </div>
            <div class="details">
                <h2>SomeOne Famous<br><span>Actor</span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="img src=../../../../assets/EVO/01_piece_rangement.png" alt="images">
            </div>
            <div class="details">
                <h2>SomeOne Famous<br><span>Producer</span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="img src=../../../../assets/black1.jpg" alt="images">
            </div>
            <div class="details">
                <h2>SomeOne Famous<br><span>Actor</span></h2>
            </div>
        </div>
    </div>
</div>

</html>
