<div class="v-header container">
    <div class="fullscreen-video-wrap">
        <iframe src="https://player.vimeo.com/video/293402906?quality=1080&autoplay=1&muted=1&loop=1&color=#000000&fun=false&background=false" frameborder=“0” allow="autoplay; fullscreen" allowfullscreen></iframe> </div>
    <div class="header-overlay"></div>
    <div class="header-content">
        <!-- <h1>Wassup Boyzzz</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic similique, dolor adipisci doloremque sit dolore vel numquam a porro!</p> -->
        <!-- <a href="#" class="btn">Read more</a> -->
        <!-- <section class="section section-a">
            <h1>Section A</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit velit eos necessitatibus nostrum, consectetur placeat.</p>
        </section> -->
    </div>
</div>
<app-mosaique></app-mosaique>




<!-- <div class="hero">
    <video src="https://player.vimeo.com/video/293402906" width="640" height="360" frameborder="0" allowfullscreen allow="autoplay; encrypted-media"></video>
    <video autoplay loop poster="../../../assets/black1.jpg" id="player">
     <source src="https://firebasestorage.googleapis.com/v0/b/julien3d-22327.appspot.com/o/Direction%2FRedskins%2FRedskins_FrenchNation_YouTube.mp4?alt=media&token=feada65d-5f54-49aa-b432-150149d5d51d" type="video/webm">

    </video> -->

<!-- <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit id ab similique non dolorum vero quibusdam fugit voluptate sit tempore vitae reiciendis deleniti enim, nesciunt fugiat accusamus doloribus quasi molestias!
                    </p>
                    <a href="#" class="btnD1">Read More</a>
                </div>
            </div>
            <h1>Exclusive Premiere</h1>
            <div class="balls">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
            </div>
        </div> -->
