<div class="hero">
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit id ab similique non dolorum vero quibusdam fugit voluptate sit tempore vitae reiciendis deleniti enim, nesciunt fugiat accusamus doloribus quasi molestias!
                    </p>
                    <a href="#" class="btnD1">Read More</a>
                </div>
            </div>
            <h1>Exclusive Premiere</h1>
            <div class="card" style="background-image: url('../../../assets/black1.jpg')">
                <div class="card__content">
                    <a class="play-button">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50">
          <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
          <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
        </svg>
                    </a>
                    <div class="card__content--description">
                        <h3 class="roll-up">
                            <span><span>P</span><span>P</span></span>
                            <span><span>l</span><span>l</span></span>
                            <span><span>a</span><span>a</span></span>
                            <span><span>y</span><span>y</span></span>
                        </h3>
                        <p class="text-reveal">
                            <span>
            <span>And get a chance to</span>
                            <span>win tickets to the</span>
                            <span>premiere of the movie</span>
                            </span>
                            <span>
            <span><span>And get a chance to</span></span>
                            <span><span>win tickets to the</span></span>
                            <span><span>premiere of the movie</span></span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>


            <div class="balls">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
                <img src="../../../assets/scratch.png">
            </div>
        </div>
