<div class="hero">
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit id ab similique non dolorum vero quibusdam fugit voluptate sit tempore vitae reiciendis deleniti enim, nesciunt fugiat accusamus doloribus quasi molestias!
                    </p>
                    <a href="#" class="btnD1">Read More</a>
                </div>

            </div>
        </div>
    </section>
    <!-- test video -->
    <!-- <div class="bannvideo">
        <div class="contentus" (click)="toggleVideo()">
            <div class="video">
                <video controls #videoPlayer>
            <source src="../../../assets/marvel-studios-black-panther-official-trailer.mp4" type="video/mp4" />
  </video>
            </div>
            <img src="../../../assets/blackpantherimg.jpg">
            <img src="../../../assets/close.png" (click)="stopVideo()" class="close">
        </div>
    </div> -->
    <!-- fin test video -->
    <!-- <div class="bannvideo">
        <div class="col-sm-6">
            <div class="pant">
                <img src="../../../assets/blackpantherimg.jpg">
            </div>
            <h2>Last Movies By Myself</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, earum ad esse doloribus hic fuga voluptates incidunt aspernatur ipsa. Commodi optio a eos nam. Necessitatibus quasi quidem numquam architecto facere?</p>
            <a href="#" (click)="toggleVideo();">Watch Trailer</a>
        </div>
    </div>

     <script type="text/javascript">
        function toggle() {
            const trailer = document.querySelector(".trailer")
            trailer.classList.toggle("active")
        }
    </script> -->
    <div class="balls">
        <img src="../../../assets/scratch.png">
        <img src="../../../assets/scratch.png">
        <img src="../../../assets/scratch.png">
        <img src="../../../assets/scratch.png">
        <img src="../../../assets/scratch.png">
        <img src="../../../assets/scratch.png">
        <img src="../../../assets/scratch.png">
    </div>
</div>
