<body>
    <main>
        <div class="card">
            <iframe class="rounded" type="text/html" src="https://player.vimeo.com/video/293402906?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player1"></iframe>
            <div class="card_content">
                <h2 class="card_title">
                    Title
                </h2>
                <p class="card_annee">Annee</p>
            </div>
        </div>
        <div class="card">
            <iframe class="rounded" type="text/html" src="https://player.vimeo.com/video/222011953?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player3"></iframe>
            <div class=" card_content ">
                <h2 class="card_title ">
                    Title
                </h2>
                <p class="card_annee ">Annee</p>
            </div>
        </div>
        <div class="card ">
            <iframe class="rounded " type="text/html " src="https://player.vimeo.com/video/293402906?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player1 "></iframe>
            <div class="card_content ">
                <h2 class="card_title ">
                    Title
                </h2>
                <p class="card_annee ">Annee</p>
            </div>
        </div>
        <div class="card ">
            <iframe class="rounded " type="text/html " src="https://player.vimeo.com/video/293402906?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player1 "></iframe>
            <div class="card_content ">
                <h2 class="card_title ">
                    Title
                </h2>
                <p class="card_annee ">Annee</p>
            </div>
        </div>
    </main>
</body>

<!-- <div class="box ">
    <iframe class="rounded " id="player2 " type="text/html " src="https://player.vimeo.com/video/305220893?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player2 " width="640 " height="360 "></iframe>
</div>
<div class="box ">
    <iframe class="rounded " id="player3 " type="text/html " src="https://player.vimeo.com/video/222011953?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player3 " width="640 " height="360 "></iframe>
</div>
<div class="box ">
    <iframe class="rounded " id="player4 " type="text/html " src="https://player.vimeo.com/video/160108099?quality=1080&title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;player_id=player4 " width="640 " height="360 "></iframe>
</div> -->

<script>
    $('.product-card-media').each(function() {
        var player = $("# " + this.id);
        froogaloop = $f(player[0].id);

        player.mouseover(function() {
            froogaloop.api('play');
        }).mouseout(function() {
            froogaloop.api('pause');
        });
    });
</script>
