<div class="row pb-4">
    <div *ngFor="let image of images" class="card" style="width: 10rem;">
        <div class="card-body">
            <img src="{{ image.imageUrl }}" class="card-img" alt="{{ image.imageUrl }}">
            <h5 class="card-title ">{{ image.titre }}</h5>
            <h6 class="card-subtitle mb-2 text-muted ">{{ image.dateCreation }}</h6>
            <h6 class="card-subtitle mb-2 text-muted ">{{ image.resume }}</h6>
            <h6 class="card-subtitle mb-2 text-muted ">{{ image.videoUrl }}</h6>

        </div>
    </div>
</div>
<!-- <h1 *ngFor="let image of images ">
    {{image.resume}} {{image.title}} {{image.titre}} {{image.video_url}}

</h1>

<h1 *ngFor="let image of images ">
    {{image.name}}

</h1> -->
