<body>
    <h1>REALISATION</h1>
    <h1 class="titcat">Clips Videos</h1>
    <main>
        <section class="cards">
            <div class="card" *ngFor="let image of imagesClip">
                <div class="cardimage">
                    <img src="{{image.imageUrl}}" (click)="clickVideo(image.videoUrl)" />
                </div>
                <div class="cardcontent">
                    <h3 class="cardtitle">
                        {{image.titre}}
                    </h3>
                    <h5 class="date">{{image.dateCreation | date: 'yyyy'}} </h5>
                    <div class="cardinfo">
                        <h1 class="textmedium">{{image.resume}}</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <h1 class="titcat">Courts Métrages</h1>
    <main>
        <section class="cards">
            <div class="card" *ngFor="let image of images">
                <div class="cardimage">
                    <img src="{{image.imageUrl}}" (click)="clickVideo(image.videoUrl)" />
                </div>
                <div class="cardcontent">
                    <h3 class="cardtitle">
                        {{image.titre}}
                    </h3>
                    <h5 class="date">{{image.dateCreation | date: 'yyyy'}} </h5>
                    <div class="cardinfo">
                        <h1 class="textmedium">{{image.resume}}</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
