@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap');
// carrousel
body,
html {
    padding: 0 0px;
    margin: 0;
    background: #0e0f11;
    color: #0a6e86;
    font-family: 'Big Shoulders Text', cursive;
    min-height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

>>>>>>> fbfce27... Modifications suite aux retours de Julien.
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

<<<<<<< HEAD
body {
    background-color: #030513;
    background-image: url(../../../assets/CHARA_CAM_CHARA.png);
    background-repeat: no-repeat;
    background-size: contain;
=======
h1 {
    text-align: inherit;
}

a:link,
a:hover,
a:active,
a:visited {
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
}

a:hover {
    color: #7f8c8d;
    text-decoration: underline;
}

.contain {
    width: 100%;
>>>>>>> fbfce27... Modifications suite aux retours de Julien.
}

main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 87px 0;
}

<<<<<<< HEAD
.textmedium {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: white;
=======
::-webkit-scrollbar {
    overflow: auto;
    background-color: transparent;
}

h1 {
    color: #fffffff2;
>>>>>>> fbfce27... Modifications suite aux retours de Julien.
}

.cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 68px;
}

.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: rgb(3 5 19 / 0.5);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-16px);
}

.cardimage {
    width: 100%;
<<<<<<< HEAD
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
=======
    font-size: 30px;
    top: 34%;
    text-align: center;
    z-index: 2;
}

.tile:hover .tile__details {
    opacity: 1;
>>>>>>> fbfce27... Modifications suite aux retours de Julien.
}

.cardimage img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.cardcontent {
    padding: 20px;
}

.cardtitle {
    margin-bottom: 20px;
    color: #d1deec;
    font-family: inherit;
}

.cardinfo {
    display: flex;
    align-self: end;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .card {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 700px) {
    main {
        grid-gap: 20px;
    }
    .card {
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 0px repeat(4, 8fr) 10px;
        grid-gap: 8px;
    }
    .cards {
        grid-column-end: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
    .card {
        grid-column-end: span 6;
    }
}

h1 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #efefef;
    padding: 2%;
    letter-spacing: .2rem;
}

.date {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family: inherit;
}
