
    <!-- <h1 id='section1'>DOUM.MOV</h1>
    <h1 class="titcat" id='section2'>Short films</h1> -->
    <html lang="en" dir="ltr">
    <body>
      <div class="contain">
        <h1>Short films</h1>
      <div class="row">
        <div class="row__inner">
          <div class="tile" *ngFor="let image of images">
            <div class="action_popin" (click)="open(content, image)">
            <div class="tile__media">
            <img class="tile__img" src="{{image.imageUrl}}"/>
            </div>
            <div class="tile__details">
            <div class="tile__title">
              {{image.titre}}
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </body>
    </html>
    <html lang="en" dir="ltr">
      <body>
        <div class="contain">
          <h1>Music videos</h1>
        <div class="row">
          <div class="row__inner">
            <div class="tile" *ngFor="let image of imagesClip">
              <div class="action_popin" (click)="open(content, image)">
              <div class="tile__media">
              <img class="tile__img" src="{{image.imageUrl}}"/>
              </div>
              <div class="tile__details">
              <div class="tile__title">
                {{image.titre}}
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </body>
      </html>
      <html lang="en" dir="ltr">
      <body>
        <div class="contain">
          <h1>Advertising</h1>
        <div class="row">
          <div class="row__inner">
            <div class="tile" *ngFor="let image of imagesAdvertising">
              <div class="action_popin" (click)="open(content, image)">
              <div class="tile__media">
              <img class="tile__img" src="{{image.imageUrl}}"/>
              </div>
              <div class="tile__details">
              <div class="tile__title">
                {{image.titre}}
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </body>
      </html>
      <html lang="en" dir="ltr">
      <body>
        <div class="contain">
          <h1>Making-of</h1>
        <div class="row">
          <div class="row__inner">
            <div class="tile" *ngFor="let image of imagesMakingOf">
              <div class="action_popin" (click)="open(content, image)">
              <div class="tile__media">
              <img class="tile__img" src="{{image.imageUrl}}"/>
              </div>
              <div class="tile__details">
              <div class="tile__title">
                {{image.titre}}
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </body>
      </html>
      <html lang="en" dir="ltr">
      <body>
        <div class="contain">
          <h1>Others</h1>
        <div class="row">
          <div class="row__inner">
            <div class="tile" *ngFor="let image of imagesOther">
              <div class="action_popin" (click)="open(content, image)">
              <div class="tile__media">
              <img class="tile__img" src="{{image.imageUrl}}"/>
              </div>
              <div class="tile__details">
              <div class="tile__title">
                {{image.titre}}
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </body>
      </html>
    <!-- <main>
        <section class="cards">
            <div class="card" *ngFor="let image of images">
                <div class="cardimage">
                    <img src="{{image.imageUrl}}" alt="{{image.titre}}" (click)="open(content, image)" />
                </div>
                <div class="cardcontent">
                    <h3 class="cardtitle">
                        {{image.titre}}
                    </h3>
                    <h5 class="date">{{image.dateCreation | date: 'yyyy'}} </h5>
                    <div class="cardinfo">
                        <h1 class="textmedium">{{image.resume}}</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <h1 class="titcat">Music videos</h1>
    <main>
        <section class="cards">
            <div class="card" *ngFor="let image of imagesClip">
                <div class="cardimage">
                    <img src="{{image.imageUrl}}" alt="{{image.titre}}" (click)="open(content, image)" />
                </div>
                <div class="cardcontent">
                    <h3 class="cardtitle">
                        {{image.titre}}
                    </h3>
                    <h5 class="date">{{image.dateCreation | date: 'yyyy'}} </h5>
                    <div class="cardinfo">
                        <h1 class="textmedium">{{image.resume}}</h1>
                    </div>
                </div>
            </div>
        </section>
        <a class="ca3-scroll-down-link ca3-scroll-down-arrow" (click)="onClickScroll('section2')" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>

    </main>
    <h1 class="titcat">Advertising</h1>
    <main>
        <section class="cards">
            <div class="card" *ngFor="let image of imagesAdvertising">
                <div class="cardimage">
                    <img src="{{image.imageUrl}}" alt="{{image.titre}}" (click)="open(content, image)" />
                </div>
                <div class="cardcontent">
                    <h3 class="cardtitle">
                        {{image.titre}}
                    </h3>
                    <h5 class="date">{{image.dateCreation | date: 'yyyy'}} </h5>
                    <div class="cardinfo">
                        <h1 class="textmedium">{{image.resume}}</h1>
                    </div>
                </div>
            </div>
        </section>
        <a class="ca3-scroll-down-link ca3-scroll-down-arrow" (click)="onClickScroll('section2')" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>

    </main>
    <h1 class="titcat">Making-of</h1>
    <main>
        <section class="cards">
            <div class="card" *ngFor="let image of imagesMakingOf">
                <div class="cardimage">
                    <img src="{{image.imageUrl}}" alt="{{image.titre}}" (click)="clickVideo(image.videoUrl)" />
                </div>
                <div class="cardcontent">
                    <h3 class="cardtitle">
                        {{image.titre}}
                    </h3>
                    <h5 class="date">{{image.dateCreation | date: 'yyyy'}} </h5>
                    <div class="cardinfo">
                        <h1 class="textmedium">{{image.resume}}</h1>
                    </div>
                </div>
            </div>
        </section>
        <a class="ca3-scroll-down-link ca3-scroll-down-arrow" (click)="onClickScroll('section2')" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>

    </main> -->
    <!-- <div class="masonry">
      <div class="grid" *ngFor="let image of imagesMakingOf; let i=index">
          <div class="box">
              <img src="{{ image.imageUrl }}" alt="{{image.titre}}" (click)="open(content, image)">
              <div class="box-content">
                  <h3 class="title">{{image.titre}}</h3>
                  <span class="post">{{image.dateCreation | date: 'yyyy'}}</span>
              </div>
          </div>
      </div>
  </div>
    <h1 class="titcat">Others</h1>
    <main>
        <section class="cards">
            <div class="card" *ngFor="let image of imagesOther">
                <div class="cardimage">
                    <img src="{{image.imageUrl}}" alt="{{image.titre}}" (click)="clickVideo(image.videoUrl)" />
                </div>
                <div class="cardcontent">
                    <h3 class="cardtitle">
                        {{image.titre}}
                    </h3>
                    <h5 class="date">{{image.dateCreation | date: 'yyyy'}} </h5>
                    <div class="cardinfo">
                        <h1 class="textmedium">{{image.resume}}</h1>
                    </div>
                </div>
            </div>
        </section>
        <a class="ca3-scroll-down-link ca3-scroll-down-arrow" (click)="onClickScroll('section2')" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>

    </main> -->


<div  class="popin">
<ng-template #content let-modal>
	<div class="modal-header">
		<h1 class="modal-title"
			id="modal-basic-title">
			{{imagePopin.titre}}
		</h1>
		<button type="button" class="close"
				aria-label="Close" (click)=
				"modal.dismiss('Cross click')">

			<span aria-hidden="true">
				×
			</span>
		</button>
	</div>
	<div class="modal-body">
    <img class="photo" src="{{ imagePopin.imageUrl }}" alt="{{imagePopin.titre}}">
			<div class="form-group">
				<h2>{{imagePopin.dateCreation | date: 'yyyy'}} </h2>
				<div class="input-group">
					<div class="input-group-append">
						<h3>{{ imagePopin.resume }}</h3>
					</div>
				</div>
			</div>
	</div>
</ng-template>
</div>
